# App settings
PORT=3000
ASSET_SERVER=
ASSET_PUBLIC_BASE=
ADMIN_PWD=

# HH API settings
API_APPLICATION_ID=
API_URL_LEADERBOARD=
API_URL_PLAYERMETA=
API_GCLOUD_TOKEN=

# Discord settings
DISCORD_CLIENT_ID=
DISCORD_SECRET=

# PlayFab settings
GC_DEVICE_ID=
PLAYFAB_TITLE_ID=
