# device-specific
.DS_Store
Thumbs.db
nohup.out
*.old

# Node-specific
*.log
node_modules/

# config/db files
.env
hh-config.json
players.db
players.db-journal
discord.csv
/balance
/public/img/users
afflicted-events.txt