#leaderboardBoxPlotView {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-y: visible;
  overflow-x: scroll;
}

.box-plot-label {
  position: relative;
  display: flex;
  align-items: center;
  height: 200px;
}

.box-plot-label:first-child {
  height: 0px;
  margin-bottom: 100px;
}

.box-plot-label:last-child {
  height: 0px;
  margin-top: 100px;
}

.label {
  background-color: white;
  z-index: 1;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 3px;
  padding-right: 3px;
}

.line-border {
  border-top: 2px dotted black;
  position: absolute;
  /* width set by JS */
}

#boxPlotContent {
  border-left: 2px solid black;
  flex: 1;
  position: relative;
  min-height: 100%;
}

.player-dot {
  position: absolute;
  display: list-item;
  background-color: white;
  font-size: 14px;
}
